body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	margin:0px;
	overflow-x:hidden;
}

a {
	text-decoration:none;
}

.header {
	background:#DAECFF;
	border-bottom-style:solid;
	border-bottom-width:1px;
	font-size:18px;
	font-weight:bold;
	height:32px;
	line-height: 20px;
	cursor: move;
	padding-top:5px;
	/* margin-bottom:2px; */
	width:100%;
}
/*
.box {
	height:180px;
	width:320px;
	position:relative;
	background-color:#EEEEEE;
}
*/
table.item-blocks-table {
	border-collapse: collapse ;
	border-spacing:5px;
	padding-left:5px;
	padding-right:5px;
	vertical-align:top;
	width:100%;
}


.block-icon a:visited {
	color:#66b0ff;
}

.block-icon {
	position:relative;
	top:-3px;
	max-width:10px;
	min-width:10px;
}

.checkbox {
	position:relative;
	right:4px !important;
}

.block-datetime {
	vertical-align:top;
	max-width:50px;
	min-width:50px;
	font-family:sans-serif;
	font-weight:bold;
	padding-left:1px;
	padding-right:1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align:center;
	background:#F5F5F5;
	display:none;
}

.date-string {
	font-size:5pt;
}

.time-string {
	font-size:5pt;
}

.left-column {
	position:relative;
	height:202px;
	top:-211px;
	width:24%;
	border-right-style:solid;
	border-right-width:20px;
	border-right-color:#003e80;
	z-index:-1;
	background:#F5F5F5;
}

.item-wrapper {
	position:relative;
	overflow-y:scroll;
	height:202px;
	width:400px;
	top:-9px;
}

.block-tags {
	vertical-align:top;
	width:25%;
	text-align:right;
	font-weight:bold;
	font-size:10pt;
	font-family:serif;
	padding-right:8px;
	padding-bottom:5px;
}

.block-note {
	vertical-align:top;
	min-height:20px;
	text-align:left;
	padding-left:10px;
	padding-bottom:5px;
	font-family:sans-serif;
	font-size:10pt;
}

.block-note a:visited {
	color:#003e80;
}

.title-button {
}

.title-button-container {
	float:right;
	padding:2px;
	cursor:pointer;
}

.item-born {
	position:relative;
	top:-5px;
	left:18px;
	float:right;
	cursor:none;
	font-size:6pt;
	font-style:italic;
	color:grey;
}

.item-title {
	float:left;
	width:80%;
	padding-top:2px;
	padding-left:6px;
	cursor:text;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.internal-table {
	table-layout: fixed;
	width:100%;
	border-collapse:collapse;
	vertical-align:top;
}

.internal-table td {
	border: 1px solid #003e80;
	vertical-align:top;
}

.internal-table tr td:nth-child(even) {
	background:whitesmoke;
}

.internal-table thead tr td {
	padding-top:5px;
	color:white;
	text-align:center;
	background:black !important;
	font-size:4pt;
	font-weight:bold;
}

.note {
	margin:30px;
	max-width:400px;
	max-height:240px;
	border:grey 3px solid;
}

tr:hover {
	border-top:1px #003e80 solid;
	border-bottom:1px #003e80 solid;
}

tr:focus {
	border-top:1px #003e80 solid;
	border-bottom:1px #003e80 solid;
}

tr {
	height:20px;
}

a:link {
	color:#e6ccff;
}

.link {
	color:#e6ccff;
}

.link:hover {
	color:red;
}

.block-link {
	text-align:center;
	vertical-align:middle;
	font-family:sans-serif;
	font-weight:bold;
	padding-bottom:5px;
	background:#003e80;
	color:#DAECFF;
	cursor:pointer;
}

.block-link a:visited {
	color:#66b0ff;
}

