body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 100%;
	margin:0px;
	overflow-x:hidden;
}

a {
	text-decoration:none;
}

.header {
	background:#DAECFF;
	border-bottom-style:solid;
	border-bottom-width:1px;
	display: block;
	font-size:24px;
	font-weight:bold;
	height: 30px;
	line-height: 20px;
	cursor: move;
	padding:2px;
	margin-bottom:2px;
	width:100%;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}

.box {
	height:180px;
	width:320px;
	position:relative;
	background-color:#EEEEEE;
}

.item-wrapper {
	position:absolute;
	overflow-y:auto;
	left:0px;
	right:0px;
	bottom:0px;
	top:35px;
	width:100%;
}

table#item-blocks-table {
	border-collapse: collapse ;
	border-spacing:5px;
	padding-left:5px;
	padding-right:5px;
	vertical-align:top;
}

.left-column {
	position:absolute;
	top:0px;
	width:15%;
	min-width:150px;
	border-right-style:solid;
	border-right-width:25px;
	border-right-color:#003e80;
	height:100%;
	z-index:-1;
	margin-left:-5px;
	background:#F5F5F5;
}

.left-icon-block {
	text-align:center;
	vertical-align:top;
	max-width:15px;
	min-width:15px;
	font-family:sans-serif;
	font-weight:bold;
	font-size:12pt;
	padding-bottom:5px;
	color:white;
	cursor:pointer;
}

.left-icon-block a:visited {
	color:#66b0ff;
}

.left-icon {
	position:relative;
	top:-3px;
	max-width:15px;
}

.checkbox {
	right:4px !important;
}

.date-time-block {
	vertical-align:top;
	max-width:40px;
	min-width:40px;
	font-family:sans-serif;
	font-weight:bold;
	font-size:5pt;
	padding-left:5px;
	padding-right:5px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align:center;
	background:#F5F5F5;
}

.date-string {
	font-size:4pt;
}

.time-string {
	font-size:6pt;
}

.left-text-block {
	vertical-align:top;
	width:15%;
	min-width:140px;
	min-height:26px;
	text-align:right;
	font-weight:bold;
	font-size:12pt;
	font-family:serif;
	height:100%;
	padding-right:8px;
	padding-bottom:5px;
}

.right-text-block {
	vertical-align:top;
	width:85%;
	min-height:26px;
	text-align:left;
	padding-left:14px;
	padding-bottom:5px;
	font-family:sans-serif;
	font-size:12pt;
}
.right-text-block a:visited {
	color:#003e80;
}


.title-button {
	float:right;
	border-style:solid;
	border-color:white;
	border-width:1px;
	color:white;
	background:black;
	line-height:14px;
	padding-bottom:3px;
	padding-left:2px;
	padding-right:2px;
}

.title-button-container {
	position:absolute;
	top:5px;
	right:5px;
	transform-origin:100% 0%;
	transform: scale(0.7);
	cursor:pointer;
}

#item-born {
	position:absolute;
	top:16px;
	right:5px;
	cursor:none;
	font-size:8pt;
	font-style:italic;
	color:grey;
}

.item-title {
	float:left;
	width:80%;
	padding-top:3px;
	padding-left:6px;
}

.internal-table {
	table-layout: fixed;
	width:100%;
	border-collapse:collapse;
	vertical-align:top;
}

.internal-table td {
	border: 1px solid #003e80;
	vertical-align:top;
}

.internal-table tr td:nth-child(even) {
	background:whitesmoke;
}

.internal-table thead tr td {
	padding-top:5px;
	color:white;
	text-align:center;
	background:black !important;
	font-size:6pt;
	font-weight:bold;
}

.note {
}

tr:hover {
	border-top:1px #003e80 solid;
	border-bottom:1px #003e80 solid;
}

tr:focus {
	border-top:1px #003e80 solid;
	border-bottom:1px #003e80 solid;
}

a:link {
	color:#e6ccff;
}

.link {
	color:#e6ccff;
}

.link:hover {
	color:red;
}

.link-block {
	text-align:center;
	vertical-align:middle;
	font-family:sans-serif;
	font-weight:bold;
	font-size:12pt;
	padding-bottom:5px;
}

.link-icon {
}




